/* These are the links to navigate to a page */
/* <li> <a> tags */
/* .lia {
    display: inline;
    color: #000;
}

/* Change the link color on hover */
.lia:hover {
    background-color: #ff3aa3;
    color: white;
}

.lia:active {
    background-color: #ff0084;
    color: white;
}
 */
